[Unit]
Description=Mesos Agent
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/sbin/mesos-slave --master=zk://stars-dc0.edc.renci.org:2181/mesos \
                                --log_dir=/var/log/mesos \
                                --work_dir=/scratch/stars2/mesos \
				--containerizers=docker,mesos \
				--executor_registration_timeout=5mins
KillMode=process
Restart=always
RestartSec=20
LimitNOFILE=16384
CPUAccounting=true
MemoryAccounting=true

[Install]
